{% extends 'base_template/base.html' %}

{% block title %}
<title>Admin panel</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap4.min.css"/>

{% endblock %}

{% block content %}
<section class="py-5">
    {% for msg in get_flashed_messages() %}
        {% if msg %}
        <div class="container mb-3 mt-3 py-2">
        <div class="alert alert-info py-2" role="alert">
            {{ msg }}
        </div>
        </div>
        {% endif %}
        {% endfor %}

<div class="container mb-3 mt-3 py-3">


        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
<article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Welcome to admin panel!</h1>
                            <!-- Post meta content-->
                        </header>
                        <!-- Post content-->
                        <section class="mb-2">
                            <p class="fs-5 mb-4">Here you can see which heroes and artifacts lack images, and add them if necessary. By the way, the size of the added images must be 200x70, and the format must be jpg.
                                In the following table, you can see which users are registered, as well as basic information about them.
                               In the last two tables, you can see which roles and statuses are currently available.

                            </p>
                            </section>
</article>
                </div>
            </div>
                </div>
</div>

    <div class="container mb-3 mt-3 py-1">
        <h2 class="fw-bolder mb-1">Options:</h2>
        <div class="row">
            <div class="col-auto">
                <form method="get" action="{{ url_for('create_role') }}">
                    <button class="btn btn-warning px-10 me-sm-10" type="submit">Create new role</button>
                </form>
            </div>
            <div class="col-auto">
                <form method="get" action="{{ url_for('create_status') }}">
                    <button class="btn btn-warning px-10 me-sm-10" type="submit">Create new status</button>
                </form>
            </div>
            <div class="col-auto">
                <form method="get" action="{{ url_for('create_hero') }}">
                    <button class="btn btn-warning px-10 me-sm-10" type="submit">Create new hero</button>
                </form>
            </div>
            <div class="col-auto">
                <form method="get" action="{{ url_for('create_artifact') }}">
                    <button class="btn btn-warning px-10 me-sm-10" type="submit">Create new artifact</button>
                </form>
            </div>
        </div>
    </div>


<div class="container">
  <div class="row">
      <div class="col-sm">
          <h2>Heroes without image:</h2>
           <div class="container mb-3 mt-3">
        <form method="post" action="{{ url_for('hero_img_upload') }}" enctype="multipart/form-data">
            <table class="table table-bordered myDataTable" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                   <th scope="col">Hero</th>
                    <th scope="col">Star</th>
                    <th scope="col">Rate</th>

                </tr>
            </thead>
            <tbody>
            {% for heroes in content["heroes_without_img"] %}
            <tr>
                <td>
                    <input type="radio" name="have_checkbox_heroes" id="{{ heroes['name'] }}" value="{{ heroes['name'] }}">
                </td>
                <td>{{ heroes['name'] }}</td>
                <td>{{ heroes['star'] }}</td>
                <td>{{ heroes['rate'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            <input type = "file" name = "hero_file" />
            <input type = "submit"/>
            </form>
               </div>
    </div>

    <div class="col-sm">
        <h2>Artifacts without image</h2>
    <div class="container mb-3 mt-3">
        <form method="post" action="{{ url_for('artifact_img_upload') }}" enctype="multipart/form-data">
            <table class="table table-bordered myDataTable" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                   <th scope="col">Artifact</th>
                    <th scope="col">Star</th>
                </tr>
            </thead>
            <tbody>
            {% for artifacts in content["artifacts_without_img"] %}
            <tr>
                <td>
                    <input type="radio" name="have_checkbox_artifacts" id="{{ artifacts['name'] }}" value="{{ artifacts['name'] }}">
                </td>
                <td>{{ artifacts['name'] }}</td>
                <td>{{ artifacts['star'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            <input type = "file" name = "artifact_file" />
            <input type = "submit"/>
            </form>
    </div>
    </div>
  </div>
</div>



     <div class="container mb-3 mt-3 py-3">
        <h2>Registered users</h2>
        <form method="post" action="{{ url_for('delete_role') }}">
            <table class="table table-bordered myDataTable" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                   <th scope="col">Login</th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Statuses</th>
                    <th scope="col">Registered</th>

                </tr>
            </thead>
            <tbody>
            {% for user in content["users"] %}
            <tr>
                <td>
                    <a class="btn btn-info" href="{{ url_for('member_profile', member_login = user['login']) }}">
                        More info
                    </a>
                </td>
                <td>{{ user["login"] }}</td>
                <td>{{ user["email"] }}</td>
                <td>
                    {% for item in user["roles"]%}
                        {{item}}
                    {% endfor %}
                </td>
                <td>
                    {% for item in user["statuses"]%}
                        {{item}}
                    {% endfor %}
                </td>
                <td>{{ user["created_at"] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            </form>
    </div>


    <div class="container">
  <div class="row">
      <div class="col-sm">
<h2>Availible roles</h2>
    <div class="container mb-3 mt-3">
        <form method="post" action="{{ url_for('delete_role') }}">
            <table class="table table-bordered myDataTable" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                   <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
            {% for role in content["roles"] %}
            <tr>
                <td>
                    <input type="radio" name="have_checkbox_role" id="{{ role }}" value="{{ role }}">
                </td>
                <td>{{ role }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            <button class="btn btn-danger px-10 me-sm-10" type="submit" name="deleteRole" value="deleteRole">Delete role</button>
            </form>
    </div>
      </div>



      <div class="col-sm">
          <h2>Availible statuses</h2>
    <div class="container mb-3 mt-3">
        <form method="post" action="{{ url_for('delete_status') }}">
            <table class="table table-bordered myDataTable" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                   <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
            {% for status in content["statuses"] %}
            <tr>
                <td>
                    <input type="radio" name="have_checkbox_status" id="{{ status }}" value="{{ status }}">
                </td>
                <td>{{ status }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            <button class="btn btn-danger px-10 me-sm-10" type="submit" name="deleteStatus" value="deleteStatus">Delete status</button>
            </form>
    </div>
      </div>
  </div>
    </div>

</section>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>

        <script>
                $('.myDataTable').DataTable({

                scrollY: 300,
                scrollX: true,
                scrollCollapse: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
               });
        </script>
{% endblock %}




