{% extends 'base_template/base.html' %}

{% block title %}
<title>Confirm</title>
{% endblock %}

{% block content %}
            <!-- Page content-->
            <section class="py-5">
                <div class="container py-5">
                    {% for msg in get_flashed_messages() %}
                    {% if msg %}
                    <div class="alert alert-info py-3" role="alert">
                        {{ msg }}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
{% endblock %}