{% extends 'base_template/base.html' %}

{% block title %}
<title>Copyright policy</title>
{% endblock %}

{% block content %}
            <!-- Page content-->
            <section class="py-5">
                <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Copyright Policy</h1>
                            <!-- Post meta content-->
                        </header>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">EOT respects the intellectual property rights of others and expects our users to do the same. We take complaints of copyright infringement seriously and will respond to notices of alleged copyright infringement that comply with applicable law.



This site (“Website”) qualifies as a Service Provider within the meaning of 17 U.S.C. § 512(k) of the Digital Millennium Copyright Act (“DMCA”). Accordingly, it is entitled to certain protections from claims of copyright infringement under the DMCA, commonly referred to as the safe harbor provisions. To that end, and in accordance with the DMCA, 17 U.S.C. § 512, Account Warehouse has implemented procedures for reporting instances of copyright infringement.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Reporting Claims of Copyright Infringement</h2>
                            <p class="fs-5 mb-4">If you are a copyright holder, or its authorized representative, and believe in good faith that content residing or accessible on or through the Website infringes your copyrighted work, you may submit a notice of copyright infringement by sending written notice of copyright infringement to our designated agent (“Agent”) electronically at EpicTeamSite@gmail.com or via mail to:</p>
                            <h2 class="fw-bolder mb-4 mt-5">Your notice of copyright infringement should provide the following information:</h2>

                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                  <p class="fs-5 mb-2">A direct link to any copyrighted work that you claim has been infringed and a clear description of the copyrighted work that you claim has been infringed (if multiple copyrighted works are covered by a single notification, you may provide a representative list of such works);</p>
                              </li>
                              <li class="list-group-item">
                                  <p class="fs-5 mb-2">A description of the material on our Website that you claim is infringing;</p>
                              </li>
                              <li class="list-group-item">
                                  <p class="fs-5 mb-2">Information reasonably sufficient to permit us to locate the allegedly infringing material (please be as detailed as possible and provide web addresses (URLs) leading directly to the material);</p>
                              </li>
                              <li class="list-group-item">
                                  <p class="fs-5 mb-2">Your contact information, including your address, telephone number, postal address, and an e-mail address;</p>
                              </li>
                                <li class="list-group-item">
                                  <p class="fs-5 mb-2">A statement that you have a good faith belief that use of the copyrighted materials in the manner asserted is not authorized by the copyright owner, its agent, or the law;</p>
                              </li>
                                <li class="list-group-item">
                                  <p class="fs-5 mb-2">A statement that the information in the notification is accurate, and under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner’s behalf;</p>
                              </li>
                                <li class="list-group-item">
                                  <p class="fs-5 mb-2">A statement that the information in the written notice is accurate</p>
                              </li>
                                <li class="list-group-item">
                                  <p class="fs-5 mb-2">Your physical or electronic signature (typing your full legal name is sufficient).</p>
                              </li>
                            </ul>

                            <p class="fs-5 mb-4">Please do not send any other information to our Agent. Please note that if you fail to comply with all of the requirements of Section 512(c)(3) of the DMCA, your DMCA Notice may not be effective. If you knowingly materially misrepresent that material or activity on the Website is infringing your copyright, you may be held liable for damages (including costs and attorneys' fees) under Section 512(f) of the DMCA.</p>
                            <p class="fs-5 mb-4">If notice is effective, we may forward the notice of copyright infringement or information contained therein, as well as the Complainant’s contact information, to the user who posted the allegedly infringing content. Additionally, if we remove or disable access to the content pursuant to a valid DMCA notice, Account Warehouse will immediately notify the user that the content has been removed or disabled.</p>

                            <h2 class="fw-bolder mb-4 mt-5">Counter-Notification Procedures</h2>
                            <p class="fs-5 mb-4">If you believe that material you posted on the Website was removed or access to it was disabled by mistake or misidentification, you may file a counter-notification with us (a "Counter-Notice") by submitting written notification to our copyright agent designated above. Pursuant to the DMCA, the Counter-Notice must include the following:</p>
                            <p class="fs-5 mb-4">Your physical or electronic signature;</p>

                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                  <p class="fs-5 mb-2">An identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access disabled;</p>
                              </li>
                              <li class="list-group-item">
                                  <p class="fs-5 mb-2">Adequate information by which we can contact you (including your name, postal address, telephone number, and, if available, email address);</p>
                              </li>
                              <li class="list-group-item">
                                  <p class="fs-5 mb-2">A statement under penalty of perjury by you that you have a good faith belief that the material identified above was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled;</p>
                              </li>
                              <li class="list-group-item">
                                  <p class="fs-5 mb-2">A statement that you will consent to the jurisdiction of the Federal District Court for the judicial district in which your address is located (or if you reside outside the United States for any judicial district in which the Website may be found) and that you will accept service from the person (or an agent of that person) who provided the Website with the complaint at issue</p>
                              </li>
                                <li class="list-group-item">
                                  <p class="fs-5 mb-2">The DMCA allows us to restore the removed content if the party filing the original DMCA Notice does not file a court action against you within ten (10) business days of receiving the copy of your Counter-Notice.</p>
                              </li>
                            </ul>

                            <p class="fs-5 mb-4">Please be aware that if you knowingly materially misrepresent that material or activity on the Website was removed or disabled by mistake or misidentification, you may be held liable for damages (including costs and attorneys' fees) under Section 512(f) of the DMCA.</p>

                            <h2 class="fw-bolder mb-4 mt-5">Repeat Infringers</h2>
                            <p class="fs-5 mb-4">It is also the policy of EOT, in appropriate circumstances and in our sole discretion, to suspend or terminate the accounts of users who are repeat copyright infringers.</p>

                        </section>
                    </article>

                </div>

            </div>
        </div>
            </section>
{% endblock %}