{% extends 'base_template/base.html' %}

{% block title %}
<title>FAQ</title>
{% endblock %}

{% block content %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Frequently Asked Questions</h1>

                    </div>
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <!-- FAQ Accordion 1-->
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Are these accounts legit & safe?</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            100% legit & safe without a single fraud. There is no Hacked/Dupe/Exploit/Cheap Top Up within EOT Accounts. EOT`s mission is to provide an astounding mobile game experience for gamers.
                                            <br><br>
                                            All accounts have been tested and proven to be legit & safe with over 1000+ successful transactions since 2018.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Delivery Time</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The Account information will be sent to your PayPal email within 24 Hours after confirming your order.
                                            <br><br>
                                            In the event we are unable to process your order, we are fully obliged to completely refund your order.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How do i get WebSite Product/Service?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            For Character Selective Starter Accounts, choose your favorite game. Select the combination you want & Search for it. If it is available, it will appear with a Game ID contains Images of Character/Units represent what inside that ID . Take a screenshot of that I'D & Message EOT via Discord: EOT#0000 or Live Chat for consultation. EOT will quote a price relate to the product.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingFour"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What are Payment Methods?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Currently EOT only accepts Paypal & Bitcoin.
                                            <br><br>
                                            For Bitcoin payment, please contact EOT to get Wallet.
                                        </div>
                                    </div>
                            </div>
                            <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingFive"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Is there risk of ban?</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Account Selling/Trading/Transferring/Macro Rerolled may against Developers TOS but no issues so far and 100% safe with every other Mobile Games, 1000+ Successful Transactions. Please be aware when purchasing one!
                                            <br><br>
                                            There is no ban in Rerolled Accounts with Macro or even using it. Interfering Game File like Hacked/Duped/Cheap Currency Purchase will get you banned.
                                            <br><br>
                                            If the developer decided not allowing Rerolled Accounts, there is nothing we can do. we won't take responsibility if Developers decide to enforce their rules at any time.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- FAQ Accordion 2-->

                        </div>

                    </div>
                </div>
            </section>
{% endblock %}
