{% extends 'base_template/base.html' %}

{% block title %}
<title>Main Page</title>
{% endblock %}

{% block content %}
<section class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Ultimate Mobile Game Account Service</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Just like you, we, too, are gamers. So it is our duty and moral obligation to make sure you get what you want and look best among your fellow adventurers.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="epicseven">Get Started</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="faq">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">

                            <img class="img-fluid rounded-3 my-5" src="{{ url_for('static', filename='assets/logo.png') }}" alt="..." />
                        </div>
                    </div>
                </div>
</section>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Why should you trust us?</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-key-fill"></i></div>
                                    <h2 class="h5">Superior Security</h2>
                                    <p class="mb-0">The product we offer is a guarantee to be Fresh & Safe with no one able to access. You are the only owner.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-house-fill"></i></div>
                                    <h2 class="h5">Privacy & Confidentality</h2>
                                    <p class="mb-0">EOT always value customer personal info & privacy. Our priority is customer safety with SSL Security.

You can Buy With Confidence.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-hourglass-split"></i></div>
                                    <h2 class="h5">Fast Response</h2>
                                    <p class="mb-0">If you want to know a price quote or have a problem or need any game advice. Don't hesitate to contact us.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-check2-square"></i></div>
                                    <h2 class="h5">2+ Year Experiences</h2>
                                    <p class="mb-0">At EOT, we are not just simply buy & sell. Our products & service offers are refined to bring the best experiences</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
