{% extends 'base_template/base.html' %}

{% block title %}
<title>Error</title>
{% endblock %}

{% block content %}


<section class="py-4">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                {% block error_text %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="text-center">
                        <img class="rounded" src="{{ url_for('static', filename='img/content/Arbiter-Vildred-full.png') }}" alt="..." />
                    </div>
                </div>
            </section>

{% endblock %}